/*HERO_SECTION*/
@media screen and (max-width:1440px) {
    .design-engineer {
        margin-left: 1115px;
    }

    .product-engineer {
        margin-left: 1115px;
    }

    .lines2 {
        margin-left: 995px;
    }

    .hero-content1 h1 {
        font-size: 54px;
        margin-right: 450px;
        margin-left: 453px;
    }

    .hero-content1 h6 {
        margin-left: 500px;
        margin-right: 500px;
        font-size: 19px;
    }

    .email-form {
        margin-left: 475px;
        width: 340px;
    }

    .form-section button {
        padding: 0px 8px;
    }

    /*SHOWCASE_CARDS*/
    .showcase {
        margin-left: 0px;
    }

    /*SUCCESS*/
    .success {
        margin-left: 70px;
    }

    .successtext {
        margin-left: 70px;
        padding-right: 132px;
    }

    /*ABOUTUS_SECTION*/
    .main-content1 img {
        margin-left: 232px;
    }

    .main-content2 {
        margin-left: 110px;
        margin-right: 150px;
    }

    .main-content1 h1 {
        margin-left: 200px;
    }

    .main-content1 h6 {
        margin-left: 150px;
        width: 355px;
    }
}

@media screen and (max-width:1024px) {

    /*HERO_SECTION*/
    .float-text h5 {
        font-size: 15px;
    }

    .design-engineer {
        margin-left: 780px;
    }

    .product-engineer {
        margin-left: 780px;
    }

    .designer {
        margin-top: 30px;
        margin-left: 93px;
    }

    .product-manager {
        margin-top: 320px;
        margin-left: 60px;
    }

    .styledline1 {
        width: 60px;
        height: 16px;
        margin-left: 100px;
    }

    .styledline2 {
        width: 115px;
        height: 15px;
        margin-left: 50px;
    }

    .styledline3 {
        width: 60px;
        height: 16px;
        margin-left: 50px;
    }

    .styledline4 {
        width: 115px;
        height: 15px;
        margin-left: 50px;
    }

    .styledline5 {
        width: 60px;
        height: 16px;
        border-radius: 8px;
        margin-left: 50px;
    }

    .styledline6 {
        width: 35px;
        height: 14px;
        margin-right: 2px;
    }

    .styledline7 {
        width: 35px;
        height: 14px;
    }

    .lines2 {
        margin-left: 718px;
    }

    .styledline8 {
        width: 50px;
        height: 16px;
        margin-left: 157px;
    }

    .styledline9 {
        width: 60px;
        height: 16px;
        margin-left: 100px;
    }

    .styledline10 {
        width: 115px;
        height: 15px;
        margin-left: 100px;
    }

    .hero-content1 h1 {
        font-size: 49px;
        margin-right: 240px;
        margin-left: 250px;
    }

    .hero-content1 h6 {
        margin-left: 300px;
        margin-right: 300px;
        font-size: 18px;
    }

    .email-form {
        margin-left: 295px;
        width: 330px;
    }

    .form-section button {
        padding: 0px 4px;
        font-size: 16px;
    }

    /*MEET_ABZENO*/
    .meet-container {
        font-size: 27px;
        letter-spacing: 2px;
    }

    .meet-text {
        padding: 25px 20px;
    }

    .snow {
        padding: 25px 20px;
    }

    /*SHOWCASE_CARDS*/
    .showcase-title h1 {
        font-size: 50px;
    }

    .showcase-title h1 {
        margin-left: 240px;
        margin-right: 200px;
    }

    .showcase-cards {
        margin-left: 80px;
    }

    /*SUCCESS*/
    .success {
        margin-left: 70px;
    }

    .successtext {
        margin-left: 70px;
        padding-right: 50px;
    }

    .successtext h4 {
        font-size: 23px;
    }

    /*ABOUTUS_SECTION*/
    .main-content1 {
        margin-top: 70px;
    }

    .main-content1 img {
        margin-left: 160px;
    }

    .main-content1 h1 {
        margin-left: 130px;
    }

    .main-content1 h6 {
        margin-left: 80px;
        width: 355px;
    }

    .main-content2 {
        margin-left: 40px;
        margin-right: 50px;
    }

    .main-content2 h3 {
        font-size: 27px;
    }

    .main-content2 h5 {
        font-size: 15px;
    }
}

@media screen and (max-width:769px) {

    /*HERO_SECTION*/
    .float-text h5 {
        font-size: 13px;
    }

    .design-engineer {
        margin-left: 600px;
    }

    .product-engineer {
        margin-left: 590px;
    }

    .designer {
        margin-top: 30px;
        margin-left: 45px;
    }

    .product-manager {
        margin-top: 320px;
        margin-left: 35px;
    }

    .styledline1 {
        width: 55px;
        height: 15px;
        margin-left: 90px;
    }

    .styledline2 {
        width: 95px;
        height: 14px;
        margin-left: 50px;
    }

    .styledline3 {
        width: 55px;
        height: 15px;
        margin-left: 50px;
    }

    .styledline4 {
        width: 95px;
        height: 14px;
        margin-left: 50px;
    }

    .styledline5 {
        width: 55px;
        height: 15px;
        border-radius: 8px;
        margin-left: 50px;
    }

    .styledline6 {
        width: 30px;
        height: 13px;
        margin-right: 2px;
    }

    .styledline7 {
        width: 30px;
        height: 13px;
    }

    .lines2 {
        margin-left: 550px;
    }

    .styledline8 {
        width: 25px;
        height: 15px;
        margin-left: 138px;
    }

    .styledline9 {
        width: 55px;
        height: 15px;
        margin-left: 115px;
    }

    .styledline10 {
        width: 95px;
        height: 14px;
        margin-left: 80px;
    }

    .hero-content1 h1 {
        font-size: 42px;
        margin-right: 150px;
        margin-left: 200px;
    }

    .hero-content1 h6 {
        margin-left: 245px;
        margin-right: 200px;
        font-size: 17px;
    }

    .email-form input {
        padding-right: 100px;
    }

    .email-form {
        margin-left: 180px;
        width: 300px;
        padding-left: 45px;
    }

    .form-section button {
        padding: 0px 4px;
        font-size: 15px;
    }

    /*MEET_ABZENO*/
    .meet-container {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .meet-text {
        padding: 25px 10px;
    }

    .snow {
        padding: 25px 20px;
    }

    /*SHOWCASE_CARDS*/
    .showcase-title h1 {
        margin-left: 150px;
        margin-right: 150px;
        font-size: 40px;
    }

    .showcase-cards {
        margin-left: 80px;
        display: block;
        margin-left: 190px;
    }

    .showcase a {
        position: relative;
        margin-left: 300px;
    }

    /*SUCCESS*/
    .success {
        margin-left: 70px;
    }

    .successtext {
        margin-left: 70px;
        padding-right: 10px;
    }

    .success h1 {
        font-size: 50px;
        font-weight: 700;
    }

    .successtext h3 {
        font-size: 27px;
    }

    .successtext h4 {
        font-size: 19px;
    }

    /*ABOUTUS_SECTION*/
    .main-content1 {
        margin-top: 70px;
    }

    .main-content1 img {
        margin-left: 100px;
        width: 159px;
        height: 140px;
    }

    .main-content1 h1 {
        margin-left: 80px;
        font-size: 50px;
    }

    .main-content1 h6 {
        margin-left: 30px;
        width: 355px;
        font-size: 18px;
    }

    .main-content2 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .main-content2 h3 {
        font-size: 22px;
    }

    .main-content2 h5 {
        font-size: 15px;
    }
}

@media screen and (max-width:426px) {

    /*HERO_SECTION*/
    .float-text h5 {
        font-size: 10px;
    }

    .float-text i {
        font-size: 13px;
    }

    .design-engineer {
        margin-top: 45px;
        margin-left: 290px;
    }

    .product-engineer {
        margin-top: 275px;
        margin-left: 290px;
    }

    .designer {
        margin-top: 45px;
        margin-left: 25px;
    }

    .product-manager {
        margin-top: 270px;
        margin-left: 5px;
    }

    .styledline1 {
        width: 27px;
        height: 10px;
        margin-top: 150px;
        margin-left: 70px;
    }

    .styledline2 {
        width: 40px;
        height: 9px;
        margin-top: 30px;
        margin-left: 55px;
    }

    .styledline3 {
        width: 27px;
        height: 10px;
        margin-top: 15px;
        margin-left: 55px;
    }

    .styledline4 {
        width: 40px;
        height: 9px;
        margin-top: 15px;
        margin-left: 55px;
    }

    .styledline5 {
        width: 27px;
        height: 10px;
        border-radius: 8px;
        margin-top: 15px;
        margin-left: 55px;
    }

    .styledline6 {
        width: 20px;
        height: 10px;
        margin-right: 1px;
    }

    .styledline7 {
        width: 20px;
        height: 10px;
    }

    .lines2 {
        margin-left: 264px;
        margin-top: 95px;
    }

    .styledline8 {
        width: 18px;
        height: 10px;
        margin-left: 108px;
        margin-top: 100px;
    }

    .styledline9 {
        width: 27px;
        height: 10px;
        margin-top: 30px;
        margin-left: 82px;
    }

    .styledline10 {
        width: 40px;
        height: 9px;
        margin-top: 15px;
        margin-left: 80px;
    }

    .hero-content1 h1 {
        font-size: 20px;
        margin-right: 90px;
        margin-left: 110px;
    }

    .hero-content1 h6 {
        margin-left: 130px;
        margin-right: 100px;
        font-size: 12px;
    }

    .email-form input {
        padding-right: 0px;
        height: 28px;
        width: 110px;
    }

    .email-form {
        margin-top: 5px;
        margin-left: 85px;
        width: 165px;
        padding-left: 50px;
    }

    .form-section button {
        margin-top: 5px;
        padding: 0px 1px;
        font-size: 10px;
        height: 28px;
    }

    .hero-section1 {
        position: relative;
        min-height: 60vh;
    }

    /*MEET_ABZENO*/
    .meet-header h1 {
        font-size: 37px;
    }

    .meet-container {
        font-size: 15px;
    }

    .meet-text {
        padding: 25px 20px;
    }

    .snow {
        padding: 25px 10px;
    }

    /*SHOWCASE_CARDS*/
    .showcase-title h1 {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 30px;
    }

    .showcase-title h4 {
        font-size: 20px;
    }

    .showcase-cards {
        margin-left: 20px;
        display: block;
    }

    .showcase a {
        position: relative;
        margin-left: 120px;
    }

    /*SUCCESS*/
    .success {
        margin-left: 20px;
    }

    .successtext {
        margin-left: 20px;
        padding-right: 10px;
    }

    .success h4 {
        font-size: 20px;
    }

    .success h1 {
        font-size: 40px;
    }

    .successtext h3 {
        font-size: 20px;
    }

    .successtext h4 {
        font-size: 15px;
    }

    /*ABOUTUS_SECTION*/
    .main-content {
        display: block;
    }

    .main-content1 {
        margin-top: 70px;
    }

    .main-content1 img {
        margin-left: 130px;
        width: 159px;
        height: 140px;
    }

    .main-content1 h1 {
        margin-left: 105px;
        font-size: 50px;
    }

    .main-content1 h6 {
        margin-left: 60px;
        width: 355px;
        font-size: 18px;
    }

    .main-content2 {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .main-content2 h3 {
        font-size: 22px;
    }

    .main-content2 h5 {
        font-size: 15px;
    }
}

@media screen and (max-width:376px) {

    /*HERO_SECTION*/
    .float-text h5 {
        font-size: 8px;
    }

    .float-text i {
        font-size: 10px;
    }

    .design-engineer {
        margin-top: 45px;
        margin-left: 280px;
    }

    .product-engineer {
        margin-top: 275px;
        margin-left: 280px;
    }

    .designer {
        margin-top: 45px;
        margin-left: 10px;
    }

    .product-manager {
        margin-top: 270px;
        margin-left: 0px;
    }

    .styledline1 {
        width: 20px;
        height: 10px;
        margin-top: 150px;
        margin-left: 60px;
    }

    .styledline2 {
        width: 30px;
        height: 9px;
        margin-top: 30px;
        margin-left: 50px;
    }

    .styledline3 {
        width: 20px;
        height: 10px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .styledline4 {
        width: 30px;
        height: 9px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .styledline5 {
        width: 20px;
        height: 10px;
        border-radius: 8px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .styledline6 {
        width: 20px;
        height: 10px;
        margin-right: 1px;
    }

    .styledline7 {
        width: 20px;
        height: 10px;
    }

    .lines2 {
        margin-left: 255px;
        margin-top: 95px;
    }

    .styledline8 {
        width: 12px;
        height: 8px;
        margin-left: 90px;
        margin-top: 100px;
    }

    .styledline9 {
        width: 27px;
        height: 10px;
        margin-top: 30px;
        margin-left: 65px;
    }

    .styledline10 {
        width: 40px;
        height: 9px;
        margin-top: 15px;
        margin-left: 62px;
    }

    .hero-content1 h1 {
        font-size: 20px;
        margin-right: 70px;
        margin-left: 80px;
    }

    .hero-content1 h6 {
        margin-left: 100px;
        margin-right: 90px;
        font-size: 12px;
    }

    .email-form input {
        height: 26px;
        width: 100px;
    }

    .email-form {
        margin-top: 5px;
        margin-left: 55px;
        width: 158px;
        padding-left: 50px;
    }

    .form-section button {
        margin-top: 5px;
        padding: 0px 2px;
        font-size: 10px;
        height: 26px;
    }

    .hero-section1 {
        position: relative;
        min-height: 55vh;
    }

    /*MEET_ABZENO*/
    .meet-header h1 {
        font-size: 30px;
    }

    .meet-container {
        font-size: 13px;
    }

    .meet-text {
        padding: 25px 20px;
    }

    .snow {
        padding: 25px 5px;
    }

    /*SHOWCASE_CARDS*/
    .showcase-title h1 {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 25px;
    }

    .showcase-title h4 {
        font-size: 16px;
    }

    .showcase-cards {
        width: 345px;
        margin-left: 15px;
        display: block;
    }

    .showcase-cards h6 {
        font-size: 20px;
        width: 300px;
    }

    .showcase a {
        position: relative;
        margin-left: 110px;
        font-size: 30px;
    }

    /*SUCCESS*/
    .success {
        margin-left: 10px;
    }

    .successtext {
        margin-left: 10px;
        padding-right: 10px;
    }

    .success h4 {
        font-size: 18px;
    }

    .success h1 {
        font-size: 30px;
    }

    /*ABOUTUS_SECTION*/
    .main-content {
        display: block;
    }

    .main-content1 {
        margin-top: 60px;
    }

    .main-content1 img {
        margin-left: 110px;
        width: 159px;
        height: 140px;
    }

    .main-content1 h1 {
        margin-left: 84px;
        font-size: 50px;
    }

    .main-content1 h6 {
        margin-left: 30px;
        width: 355px;
        font-size: 18px;
    }

    .main-content2 {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .main-content2 h3 {
        font-size: 22px;
    }

    .main-content2 h5 {
        font-size: 15px;
    }
}

@media screen and (max-width:321px) {

    /*HERO_SECTION*/
    .float-text h5 {
        font-size: 7px;
    }

    .float-text i {
        font-size: 10px;
    }

    .design-engineer {
        margin-top: 45px;
        margin-left: 235px;
    }

    .product-engineer {
        margin-top: 275px;
        margin-left: 235px;
    }

    .designer {
        margin-top: 45px;
        margin-left: 0px;
    }

    .product-manager {
        margin-top: 270px;
        margin-left: 0px;
    }

    .styledline1 {
        width: 18px;
        height: 9px;
        margin-top: 150px;
        margin-left: 55px;
    }

    .styledline2 {
        width: 25px;
        height: 8px;
        margin-top: 30px;
        margin-left: 50px;
    }

    .styledline3 {
        width: 18px;
        height: 9px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .styledline4 {
        width: 25px;
        height: 8px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .styledline5 {
        width: 18px;
        height: 9px;
        border-radius: 8px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .styledline6 {
        width: 15px;
        height: 9px;
        margin-right: 1px;
    }

    .styledline7 {
        width: 15px;
        height: 9px;
    }

    .lines2 {
        margin-left: 220px;
        margin-top: 95px;
    }

    .styledline8 {
        width: 10px;
        height: 8px;
        margin-left: 80px;
        margin-top: 100px;
    }

    .styledline9 {
        width: 18px;
        height: 9px;
        margin-top: 30px;
        margin-left: 70px;
    }

    .styledline10 {
        width: 25px;
        height: 8px;
        margin-top: 15px;
        margin-left: 70px;
    }

    .hero-content1 h1 {
        font-size: 18px;
        margin-right: 70px;
        margin-left: 80px;
    }

    .hero-content1 h6 {
        margin-left: 85px;
        margin-right: 80px;
        font-size: 10px;
    }

    .email-form input {
        height: 24px;
        width: 100px;
    }

    .email-form {
        margin-top: 5px;
        margin-left: 30px;
        width: 158px;
        padding-left: 50px;
    }

    .form-section button {
        margin-top: 5px;
        padding: 0px 2px;
        font-size: 8px;
        height: 24px;
    }

    .hero-section1 {
        position: relative;
        min-height: 55vh;
    }

    /*MEET_ABZENO*/
    .meet-header h1 {
        font-size: 30px;
    }

    .meet-container {
        font-size: 13px;
    }

    .meet-text {
        padding: 25px 10px;
    }

    .snow {
        padding: 25px 2px;
    }

    /*SHOWCASE_CARDS*/
    .showcase-title h1 {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 21px;
    }

    .showcase-title h4 {
        font-size: 12px;
    }

    .showcase-cards {
        width: 300px;
        margin-left: 10px;
        display: block;
        padding: 10px 20px;
    }

    .showcase-cards h1 {
        font-size: 36px;
    }

    .showcase-cards h6 {
        font-size: 18px;
        width: 250px;
    }

    .showcase-cards img {
        padding-left: 150px;
    }

    .showcase a {
        position: relative;
        margin-left: 90px;
        font-size: 25px;
    }

    /*SUCCESS*/
    .success {
        margin-left: 8px;
    }

    .successtext {
        margin-left: 8px;
        padding-right: 10px;
    }

    .success h4 {
        font-size: 18px;
    }

    .success h1 {
        font-size: 25px;
    }

    .successtext h3 {
        font-size: 16px;
    }

    .successtext h4 {
        font-size: 14px;
    }

    /*ABOUTUS_SECTION*/
    .main-content {
        display: block;
    }

    .main-content1 {
        margin-top: 60px;
    }

    .main-content1 img {
        margin-left: 80px;
        width: 159px;
        height: 140px;
    }

    .main-content1 h1 {
        margin-left: 55px;
        font-size: 50px;
    }

    .main-content1 h6 {
        margin-left: 30px;
        width: 355px;
        font-size: 15px;
    }

    .main-content2 {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .main-content2 h3 {
        font-size: 22px;
    }

    .main-content2 h5 {
        font-size: 15px;
    }
}